{% extends 'base.html.twig' %}

{% block body %}
    <section id="transaction-types" class="m-8 w-1/3">
        {% include '_partials/transactionType/_form.html.twig' %}
    </section>
{% endblock %}
