{% extends 'base.html.twig' %}

{% block title %}Hello ListingController!{% endblock %}

{% block body %}
    <h1>Annonce n°{{ listing.id }}</h1>
    {% include '_partials/_card.html.twig' %}
{% endblock %}
